---
import { Icon } from 'astro-icon/components';
---
<section id="about" class="about">

  <div class="about-top">
    <!-- Icono -->
    <Icon name="clock" />
    <!-- Texto -->
    <p>Horario</p>
    <p>Lun - Dom / 12am - 12 pm</p>
    <!-- Icono -->
    <Icon name="reserva" />
    <!-- Texto -->
    <p>Reserva</p>
    <p>222 595856</p>
    <!-- Icono -->
    <Icon name="cubiertos" />
    <!-- Texto -->
    <p>Menú</p>
    <p>Prueba la diferencia</p>
  </div>

  <div class="about-content">
    <!-- Imagen Platillo -->
    <img src="/platillo.webp" alt="Platillo delicioso!">
    <!-- Texto -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dicta impedit nam. Similique perspiciatis in quia magni distinctio repellat consequatur, eos vitae temporibus voluptas nihil, officiis obcaecati deserunt corporis provident.
    Assumenda saepe, esse dignissimos repellat labore doloribus sint nulla, dolorum in culpa nesciunt earum, minus quod itaque placeat amet debitis? At obcaecati dolorem suscipit excepturi omnis dicta odio voluptate error!
    Aut, architecto? Quis inventore vero velit sint sed quasi, vel nostrum, nisi amet quia perspiciatis, nam consectetur. Voluptas obcaecati excepturi nemo reprehenderit culpa nihil, facere, commodi possimus mollitia ut dolore!
    Atque ab similique necessitatibus, sunt et obcaecati vero officiis quos fugit illum magni dolor ipsa doloribus sapiente quia sequi reiciendis. Unde deserunt quia dolores laudantium molestiae tenetur, itaque possimus nemo.
    Quidem, eos nihil. Rerum, molestiae nihil nulla, dolorem eius expedita iste veritatis esse, ab minus voluptas! Architecto perferendis at facilis enim officia nam doloribus dolores nobis. Dignissimos est magni at!
    </p>
    <!-- CTA Reservar -->
    <a href="#reserva">Reserva ahora</a>
  </div>

</section>

<style>
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
  }

  .about-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
    background: #1f1c1c;
  }

  .about-top p {
    text-align: center;
    font-size: 1.2rem;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 0 2rem;
  }

  .about-content img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .about-content p {
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
</style>