---
---
<section id="about" class="about">
  <div class="about-top">
    <!-- Icono -->
    <!-- Texto -->
    <!-- Icono -->
    <!-- Texto -->
    <!-- Icono -->
    <!-- Texto -->
  </div>

  <div class="about-content">
    <!-- Imagen Platillo -->
    <!-- Texto -->
    <!-- CTA Reservar -->
  </div>
</section>