---
import { Icon } from "astro-icon/components";

---

<section id="end" class="end-container">

  <!-- Title container -->
  <div class="title-end">
    <Icon name="rentoy" />
    <h2>Rentoy</h2>
    <p>Esperamos verte pronto en Rentoy</p>
  </div>

  <div class="copy-end">

    <!-- About & Phone -->
    <div class="about-phone">
  
      <div class="about-end">
        <h3>
          <Icon name="about" class="foot-icon"/>
          Rentoy
        </h3>
        <p class="p-end">Atrévete a disfrutar una experiencia única en el corazón de la ciudad.</p>
      </div>
  
      <div class="phone-end">
        <h3>
          <Icon name="phone" class="foot-icon"/>
          Teléfono
        </h3>
        <p class="p-end">55 1234 5678</p>
      </div>
  
    </div>
  
    <!-- Address & Openning -->
    <div class="addr-opn">
  
      <div class="address-end">
        <h3>
          <Icon name="location" class="foot-icon"/>
          Dirección
        </h3>
        <p class="p-end">Av. Insurgentes Sur 1234, Ciudad de México</p>
      </div>
  
      <div class="open-end">
        <h3>
          <Icon name="horario" class="foot-icon"/>
          Horarios
        </h3>
        <p class="p-end">Lunes a Domingo: 8:00 am - 10:00 pm</p>
      </div>
  
    </div>

  </div>


  <!-- Footer container -->
  <footer></footer>

</section>

<style>
  @import "tailwindcss";
  .end-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #1f1c1c;
    color: #1f1c1c;
    @apply flex-col justify-center flex-wrap;
    @apply md:flex-row md:justify-between;
  }

  .title-end {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    @apply flex-row flex-wrap justify-center w-[100%];
    @apply md:w-[20%] md:mb-auto;
  }

  svg {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
  }

  .title-end h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #F9D857;
  }

  .title-end p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #F9D857;
  }

  .copy-end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #F9D857;
    padding: 1.5rem;
    border-radius: 1rem;
    @apply w-[100%] md:w-[75%];
  }

  .about-phone, .addr-opn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
  }

  .about-end, .phone-end, .address-end, .open-end {
    display: flex;
    align-items: center;
    text-align: center;
    @apply flex-col justify-evenly w-[45%];
    @apply md:flex-row md:justify-center ;
  }

  .phone-end, .open-end {
    margin-bottom: auto;
  }

  .foot-icon {
    width: 30px;
    height: 30px;
    margin-bottom: .5rem;
    color: #1f1c1c;
  }

  .about-end h3, .phone-end h3, .address-end h3, .open-end h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: auto;
    margin-bottom: .5rem;
    @apply md:w-[30%] md:text-left md:ml-2;
  }

  .p-end {
    text-align: start;
    text-wrap: pretty;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    @apply md:w-[70%] md:text-left;
  }
</style>