---
---

<section id="offers" class="offers">

  <!-- Title Offers Container -->
  <div class="offers-title">
    <h2>Promociones</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
  </div>

  <!-- Cards Offers Container -->
  <div class="offers-cards">

    <div class="offers-card">
      <img src="/cafe1.webp" alt="Platillo delicioso!">
      <h3>Platillo 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>

    <div class="offers-card">
      <img src="/desayuno.webp" alt="Platillo delicioso!">
      <h3>Platillo 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>

    <div class="offers-card">
      <img src="/latte.webp" alt="Platillo delicioso!">
      <h3>Platillo 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>

    <div class="offers-card">
      <img src="/cerveza.webp" alt="Platillo delicioso!">
      <h3>Platillo 4</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>

    <div class="offers-card">
      <img src="/barril.webp" alt="Platillo delicioso!">
      <h3>Platillo 5</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>

    <div class="offers-card">
      <img src="/cubalibre.webp" alt="Platillo delicioso!">
      <h3>Platillo 6</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>

    <div class="offers-card">
      <img src="/ambiente.webp" alt="Platillo delicioso!">
      <h3>Platillo 7</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius quasi ipsa iure sint, aspernatur alias nihil veritatis sed odit exercitationem minus iusto provident quibusdam ea debitis blanditiis aperiam cupiditate?</p>
      <a href="#reserva">Reserva ahora</a>
    </div>
  </div>

</section>

<style>
  .offers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
    gap: 2rem;
  }

  .offers-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
    height: 120px;
    background-color:  #F9D857;
  }

  .offers-title h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f1c1c;
    margin-right: auto;
    margin-left: 1rem;
  }
</style>